aws_access_key = "{{ aws_access_key }}"
aws_secret_key = "{{ aws_secret_key }}"
aws_region = "{{ aws_region }}"
ami = "{{ ami }}"
instance_count = "{{ instance_count }}"
instance_type = "{{ instance_type }}"
key_name = "{{ key_name }}"
subnet_id = "{{ subnet_id }}"
security_group_id = ["{{ security_group_id }}"]