.hostingtop{
        margin-top: 1.5%;
    }
input:required:invalid, input:focus:invalid {
    background-image: url(/static/css/images/mandatory1.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
      background-image: url(/static/css/images/valid.png);
      background-position: right top;
      background-repeat: no-repeat;
  }


.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
}
