<div class="row">

    <div class="col-md-offset-2 col-md-8">

        <div class="row">
            <div align="center"><span style="color: #4f4f4f;font-weight: bold; font-size: large;">{{ provider }}Deployments</span>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1%">
            <div class="btn-group">

                <div class="btn-group" data-toggle="tooltip" data-placement="top"
                     title="New User">
                    <button type="button" class="btn btn-primary dropdown-toggle top_menu"
                            data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="wf_action" id="add-deployment"
                               href="#aws/new/{{ provider_id }}"><span
                                class="glyphicon glyphicon-plus"></span><span
                                style="margin-left: 5px">New Deployment</span></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row hostingtop">
            <div table-responsive>
                <table id="deployments-table" class="mytable table table-striped table-bordered" datatable="ng"
                       dt-options="dtOptions">

                    <thead>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">State</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Created By</th>

                    </thead>
                    <tbody>

                    <tr ng-repeat="deployment in deployments">
                        <td><a style="cursor: pointer" ng-click="view($event,deployment.id)">{{ deployment.name }}</a>
                        </td>
                        <td>{{ deployment.description }}</td>
                        <td>{{ deployment.state }}</td>
                        <td>{{ deployment.created_date }}</td>
                        <td>{{ deployment.created_by }}</td>
                    </tr>
                    </tbody>


                </table>
            </div>
        </div>


    </div>


</div>
