<!DOCTYPE html>
<html lang="en" ng-app="dpaasApp">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/static/favicon.ico" rel="shortcut icon">

    <title>Deploy Manager</title>

    <link href="static/css/login.css" rel="stylesheet" type="text/css">
    <link href="static/css/tab-panel.css" rel="stylesheet" type="text/css">
    <link href="/static/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link data-require="datatables@*" data-semver="1.10.12"
          href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
          rel="stylesheet"/>
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">


    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/stepwizard.css" rel="stylesheet">
    <link href="static/css/faq-accordian.css" rel="stylesheet">
    <link href="static/css/jsoneditor.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-datepicker3.standalone.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet">

    <!-- first jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="static/js/vendor/bootstrap.js"></script>
    <!-- then dataTables -->
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="static/js/vendor/angular.js"></script>
    <script src="static/js/vendor/angular-cookies.js"></script>
    <script src="static/js/vendor/angular-animate.min.js"></script>
    <script src="static/js/vendor/angular-route.js"></script>

    <script src="static/js/vendor/angular-datatables.min.js"></script>
    <script src="static/js/vendor/angular-filter.js"></script>
    <script src="static/js/vendor/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.js"></script>

    <script src="static/js/vendor/bootstrap-clockpicker.js"></script>
    <script src="static/js/vendor/bootstrap-autocomplete.js"></script>
    <script src="static/js/vendor/jquery-clockpicker.js"></script>
    <script src="static/js/vendor/jquery.smartWizard.js"></script>
    <script src="static/js/vendor/angular-animate-1.3.18.min.js"></script>
    <script src="static/js/vendor/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
    <script src="static/js/vendor/toArrayFilter.js"></script>
    <script src="static/js/vendor/bootstrap-datepicker.js"></script>
    <script src="static/js/vendor/bootstrap-datepicker.en-GB.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!--<script src="static/js/vendor/duel-list-box.js"></script>-->

    {% for rurl in route_files %}
        <script src="static/js/routes/{{ rurl }}"></script>
    {% endfor %}

    <script src="static/js/app.js"></script>
    <script src="static/js/loading.js"></script>


    {% for curl in controller_files %}
        <script src="static/js/controllers/{{ curl }}"></script>
    {% endfor %}

    {% for surl in factories_files %}
        <script src="static/js/factories/{{ surl }}"></script>
    {% endfor %}


<body>

<div class="header" ng-controller="HomeController">

    <div class="navbar-header">
        <a class="navbar-brand" href="#/"><b>Deploy Manager</b></a>
    </div>

</div>

<div class="content">
    <div class="row main">
        <div ng-view=""></div>
    </div>
</div>


<!-- /.container -->
<div class="modal"><!-- Place at bottom of page --></div>
</body>
</html>

<div aria-labelledby="myModalLabel" class="modal" id="profilemodal" ng-controller="HeaderController" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><img src="{{ photo_url }}" style="height: 60px;width: 100px;margin-right: 5px; border-radius: 40%"></h4>
                <table class="table table-bordered">
                    <tbody class="table">
                        <tr>
                            <th>Full Name</th>
                            <td>{{ user }}</td>
                        </tr>
                        <tr>
                            <th>Worker No.</th>
                            <td>{{ employee_id }}</td>
                        </tr>
                        <tr>
                            <th>Staff ID</th>
                            <td>{{ staff_id }}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{{ company }}</td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>{{ phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" id="close" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="myModalLabel" class="modal" id="logoutmodal" ng-controller="HeaderController" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Do you want to Logout?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="logout" ng-click="logoutClick()" type="button">Logout</button>
                <button class="btn btn-default" data-dismiss="modal" id="close" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>




