<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
   <table border="1">
         <thead>
            <tr>
               <th>Name</th>
               <th>Template</th>
               <th>Instance Count</th>
               <th>Cloud Provider</th>
               <th>Started At</th>
               <th>Ended At</th>
               <th>User</th>
               <th>Status</th>
               <th>Deployment id</th>
            </tr>
         </thead>
         <tbody>
            {% for re in result %}
               <tr>
                  <td>{{ re['name'] }}</td>
                  <td>{{ re['template'] }}</td>
                  <td>{{ re['instance_count'] }}</td>
                  <td>{{ re['cloud_provider'] }}</td>
                  <td>{{ re['start_time'] }}</td>
                  <td>{{ re['end_time'] }}</td>
                  <td>{{ re['user'] }}</td>
                  <td>{{ re['status'] }}</td>
                  <td>{{ re['deployment_id'] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>